.sc-list {
    list-style: none;
}

.sc-list > li {
    display: inline-block;
    margin: 1%;
    text-align: center;
    width: 7.5em;
}

.sc {	
	width: 100%;
	border: thin solid lightgray;
	border-radius: 6%;
    display: block;
    overflow: hidden;
    height: 7.5em;
    cursor: pointer;
}

.sc > i {
	display: block;
	margin-top: 10%;
	margin-bottom: 5%;
}

.edit_controls a {
	opacity: 1;
}